doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        script(src="/create.js" defer) 
        title Document
    body
        h1 Skapa Din Egen Samling
        form(action="" id="form")
            label(for="title") Titel
            input(type="text", name="title" id="title") 
            label(for="author") Skapare
            input(type="text", name="author" id="author")
            div(class="card")
                input(type="text", name="" placeholder="framsida")
                input(type="text", name="" placeholder="baksida")
        
        button(onclick="addCard()") Lägg Till Kort
        button(onclick="submit()") Lägg in