doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/style.css")
    body 
        h1 Flash Cards 4000
        main
            h2 Samlingar
            section(class="collections")
                each collection in collections
                    a(href="collection/" + collection.id class="collection")
                        h2=collection.name
                        p=collection.author
            div
                h2 Skapa Din Egen Samling 
                    a(href="/create") Här